.btn-huge{
	width:100%;
    padding:20px;
	margin-bottom:5px;
}

.text-divider {
    --text-divider-gap: 1rem;
    display: flex;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bolder;
    font-family: Arial Black;
    margin-bottom: 30px;
    color: white;
    padding: 0px 75px 0px 75px;
}
  
.text-divider::before, .text-divider::after {
    content: '';
    height: 6px;
    background-color: white;
    flex-grow: 1;
    border-radius: 10px;
}

.text-divider::before {
    margin-right: var(--text-divider-gap);
}

.text-divider::after {
    margin-left: var(--text-divider-gap);
}

.table-row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 13px;
	padding-right: 50px;
}
