	.size-a-19 {
		width: 100%;
		height: 36px !important;
	}

	.tb-title p{
		font-family: "Roboto", sans-serif;
		font-size:28px;
		background-image: url(../images/background.jpg);
		background-size:cover;
		background-position:center center;
		background-repeat: no-repeat;
		color:white;
		padding:0px;
		width:95%;
		font-family: Wide Latin;
		height: 46px;
		box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.418);
		border-radius: 300px;
		border: 3px solid lightgrey;
		transform: scale(1, 2);
	}

	@media screen and (max-width: 1080px){

		.btn-mb{
			width: 20%;
			font-size: 15px;
		}

		.tb-title p{
			font-family: "Roboto", sans-serif;
			font-size:28px;
			background-image: url(../images/background.jpg);
			background-size:cover;
			background-position:center center;
			background-repeat: no-repeat;
			color:white;
			padding:0px;
			width:95%;
			font-family: Wide Latin;
			height: 46px;
			box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.418);
			border-radius: 300px;
			border: 3px solid lightgrey;
			transform: scale(1, 2);
		}

		/* setting buttons */
		.username {
			padding-top:10px;
		}

		.small-box{
			width:100%;
			padding:0px;
			margin:0px;
		}
	}

	@media screen and (max-width: 990px){
		
		.btn-mb{
			width: 20%;
			font-size: 15px;
		}

		.btnrow{
			display:flex;
			flex-direction: row;
			justify-content: center;
			row-gap:3px;
		}

		.btnrow button{
			width:100%;
			height:50px;
			padding: 0px 80px 0px 80px;
			font-size:20px;
		}

		.tb-title p{
			font-family: "Roboto", sans-serif;
			font-size:25px;
			background-image: url(../images/background.jpg);
			background-size:cover;
			background-position:center center;
			background-repeat: no-repeat;
			color:white;
			padding:0px;
			width:95%;
			font-family: Wide Latin;
			height: 40px;
			box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.418);
			border-radius: 300px;
			border: 3px solid lightgrey;
			transform: scale(1, 2);
		}

		.row{
			display:flex;
			flex-direction: row;
			justify-content: center;
			column-gap:10px;
		}

		.row button{
			width:100%;
			padding: 0px 80px 0px 80px;
		}

		/* setting buttons */
			.rowset{
			display:flex;
			flex-direction: row;
			justify-content: center;
			row-gap:3px;
		}

		.rowset button{
			width:100%;
			height:30px;
			padding: 0px 20px 0px 20px;
			font-size:15px;
		}

		.username {
			padding-top:10px;
		}

		.small-box{
			width:100%;
			padding:0px;
			margin:0px;
		}
	}

	@media screen and (max-width: 768px){
		
		.btn-mb{
			width: 20%;
			font-size: 15px;
		}

		.tb-title p{
			font-family: "Roboto", sans-serif;
			font-size:28px;
			background-image: url(../images/background.jpg);
			background-size:cover;
			background-position:center center;
			background-repeat: no-repeat;
			color:white;
			padding:0px;
			width:95%;
			font-family: Wide Latin;
			height: 46px;
			box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.418);
			border-radius: 300px;
			border: 3px solid lightgrey;
			transform: scale(1, 2);
		}

		.row{
			display:flex;
			flex-direction: row;
			justify-content: center;
			column-gap:10px;
		}

		.row button{
			width:100%;
			padding: 0px 80px 0px 80px;
		}

		.small-box{
			width:100%;
			padding:0px;
			margin:0px;
		}

		/* setting buttons */
		.rowset{
		display:flex;
		flex-direction: row;
		justify-content: center;
		row-gap:3px;
		}

		.rowset button{
			width:100%;
			height:30px;
			padding: 0px 20px 0px 20px;
			font-size:15px;
		}

		.username {
			padding-top:10px;
		}

	}

	@media screen and (max-width: 600px){
		
		.btn-mb{
			width: 25%;
			font-size: 14px;
		}

		.tb-title p{
			justify-content: center;
			font-family: "Roboto", sans-serif;
			font-size:20px;
			background-image: url(../images/background.jpg);
			background-size:cover;
			background-position:center center;
			background-repeat: no-repeat;
			color:white;
			padding:4px 0px 0px 0px;
			width:95%;
			font-family: Wide Latin;
			height: 40px;
			box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.418);
			border-radius: 300px;
			border: 3px solid lightgrey;
			transform: scale(1, 2);
		}

		.row{
			display:flex;
			flex-direction: row;
			justify-content: center;
			column-gap:10px;
		}

		.row button{
			width:100%;
			padding: 0px 80px 0px 80px;
		}

		.small-box{
			width:100%;
			padding:0px;
			margin:0px;
		}

		div.dataTables_filter input {
			width: 15em;
		}

		div.dataTables_filter label {
			display: flex;
			width:100%;
		}

		.rowset{
			display:flex;
			flex-direction: row;
			justify-content: center;
			row-gap:3px;
		}

		.rowset button{
			width:100%;
			height:30px;
			padding: 0px 20px 0px 20px;
			font-size:15px;
		}

		.username {
			padding-top:10px;
		}

	}

	
	@media screen and (min-width: 501px) and (max-width: 599px){
		
		.btn-mb{
			width: 20%;
			font-size: 12px;
		}

		.tb-title p{
			justify-content: center;
			font-family: "Roboto", sans-serif;
			font-size:30px;
			background-image: url(../images/background.jpg);
			background-size:cover;
			background-position:center center;
			background-repeat: no-repeat;
			color:white;
			padding:5px 0px 0px 0px;
			width:95%;
			font-family: Wide Latin;
			height: 30px;
			box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.418);
			border-radius: 300px;
			border: 3px solid lightgrey;
			transform: scale(1, 2);
		}

		.row{
			display:flex;
			flex-direction: row;
			justify-content: center;
			row-gap:3px;
		}

		.row button{
			width:100%;
			padding: 0px 25px 0px 25px;
		}

		.small-box{
			width:100%;
			padding:0px;
			margin:0px;
		}

		.small-box p{
			font-size:10px;
		}

		.col{
			padding:0px;
		}

		.table{
			width: 100%;
			border-collapse: collapse;
		}

		.table thead{
			display: none;
		}

		.table, .table tbody, .table tr, .table td{
			display: block;
			width: 100%;
		}
		.table tr{
			margin-bottom:15px;
		}
		.table td{
			text-align: right;
			padding-left: 50%;
			text-align: right;
			position: relative;
		}
		.table td::before{
			content: attr(data-label);
			position: absolute;
			left:0;
			width: 50%;
			padding:0px 30px 0px 5px;
			font-size:15px;
			font-weight: bold;
			text-align: left;
		}
	}

	@media screen and (min-width: 360px) and (max-width: 500px){

		.box.box-primary {
			padding: 0px;
			margin:0px;
		}
		
		.btn-mb{
			width: 30%;
			height:30px;
			font-size: 10px;
		}

		.tb-title p{
			justify-content: center;
			font-family: "Roboto", sans-serif;
			font-size:11px;
			background-image: url(../images/background.jpg);
			background-size:cover;
			background-position:center center;
			background-repeat: no-repeat;
			color:white;
			padding:5px 0px 0px 0px;
			width:95%;
			font-family: Wide Latin;
			height: 30px;
			box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.418);
			border-radius: 300px;
			border: 3px solid lightgrey;
			transform: scale(1, 2);
		}

		.modal-title p{
			justify-content: center;
			font-family: "Roboto", sans-serif;
			font-size:11px;
			background-image: url(../images/background.jpg);
			background-size:cover;
			background-position:center center;
			background-repeat: no-repeat;
			color:white;
			width:100%;
			font-family: Wide Latin;
			height: 30px;
			box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.418);
			border-radius: 300px;
			border: 3px solid lightgrey;
			transform: scale(1, 2);
		}

		.small-box{
			width:100%;
			padding:0px;
			margin:0px;
		}

		.btnrow{
			display:flex;
			flex-direction: row;
			justify-content: center;
			row-gap:3px;
		}

		.btnrow button{
			width:100%;
			height:40px;
			padding: 0px 25px 0px 25px;
			font-size:18px;
		}

        .btnrowsec{
			display:flex;
			flex-direction: row;
			justify-content: center;
			row-gap:3px;
		}

		.btnrowsec button{
			width:100%;
			height:40px;
			padding: 0px 25px 0px 25px;
			font-size:18px;
		}

		/* table footer */
		.row {
			font-size:5px;
		}

		div.dataTables_info {
			font-size:10px;
		}

		.small-box{
			width:100%;
			padding:0px;
			margin:0px;
		}

		.table{
			width: 100%;
			border-collapse: collapse;
		}

		.table thead{
			display: none;
		}

		.table, .table tbody, .table tr, .table td{
			display: block;
			width: 98%;
		}
		.table tr{
			margin-bottom:15px;
		}
		.table td{
			text-align: right;
			padding-left: 50%;
			text-align: right;
			position: relative;
			font-size:11px;
		}
		.table td::before{
			content: attr(data-label);
			position: absolute;
			left:0;
			width: 50%;
			padding:0px 15px 0px 5px;
			font-size:11px;
			font-weight: bold;
			text-align: left;
		}

		.dataTables_filter {
			font-size:11px;
			padding:10px;
		}

		div.dataTables_filter input {
			width: 10em;
		}

		div.dataTables_filter label {
			display: flex;
			width:100%;
		}

		div.dataTables_length select {
			width: 50px;
			font-size:11px;
		}

		div.dataTables_length label {
			padding:10px;
			font-weight: normal;
			float: left;
			text-align: left;
			font-size:11px;
		}

		div.dataTables_length #text {
			display: hidden;
		}

		/* setting buttons */
		.rowset{
			display:flex;
			flex-direction: row;
			justify-content: center;
			row-gap:3px;
		}

		.rowset button{
			width:100%;
			height:30px;
			padding: 0px 20px 0px 20px;
			font-size:15px;
		}

		.username {
			padding-top:10px;
		}

	}


/* BOOK IMAGE GALLERY */
.box.box-primary {
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 24px;
}

.btn-gallery {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	border: none;
	font-weight: bold;
	background: #3db166;
	width: 45%;
	height: 30px;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.bookButtons {
	display: flex;
	justify-content: space-around
}

.bookqr {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 20px;
}

.book-image-card {
	background: #ccc;
	border-radius: 10px;
	border: 1px solid black;
	display: block;
	padding: 20px;
}

.column {
	width: 100%;
	  height: auto;
}

.card-text {
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

img.card-img-qr {
	border: 5px solid #ffffff;
	border-radius: 10px;
}

.wrap-filter {
	display: flex;
	gap: 10px;
	justify-content: center;
}

.filter-input-group {
	display: flex;
	align-items: flex-start;
}

.filter-input-box {
	min-height: 35px;
	max-width: 150px;
	padding: 0 1rem;
	color: #484747;
	font-size: 15px;
	font-weight: 800;
	border: 2px solid #163269;
	border-radius: 0 6px 6px 0;
	background-color: transparent;
}

.filter-input-label {
	min-height: 35px;
	padding: 7px 1rem;
	border: none;
	border-radius: 6px 0 0 6px;
	background-color: #163269;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}

.filter-input-box:focus, .filter-input-box:focus-visible {
	border-color: #3898EC;
	outline: none;
}

.filtersbtn{
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	border: none;
	font-weight: bolder;
	background: #3db166;
	width: 3%;
	height:35px;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius:5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.filtersbtn:hover, .filtersbtn:focus, .filtersbtn:active{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
} 

.bookCopies {
	max-width: 50%;
	margin: 40px auto;
}

.line-container {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
}

.line-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #163269;
	color: white;
	padding: 0 10px;
	border-radius: 50px 
}

.connectedSortable {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}