.admincard{
    padding: 20px;
    margin: -60px 0px 0px 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(57, 43, 43, 0.239);
    border-radius:10px;
    padding: 25px 15px 25px 15px;
}

.admincardbox{
    width: 480px;
    height: 250px;
    background: white;
    margin: 0px 10px;
    transition: 1s;

}
.admincardbox:hover{
    transform: scale(1.4);
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
}